<br><br><br><br><br><br>
<div class="row" style="text-align: center;">
    <img class="col-md-6" src="../assets/images/instock.png" ng-click="inStock()">
    <img class="col-md-6" src="../assets/images/outstock.png" ng-click="outStock()">
</div>
<br><br>
<div class="row" style="text-align: center;">
    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#monographie"
                aria-expanded="false" aria-controls="monographie">
            DOLIPRANE 500mg
        </button>
        <div class="collapse" id="monographie">
            <div class="well">
                Une monographie :
                <div>plop</div>
            </div>
        </div>

    </div>
</div>
