
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStockLabel" translate="hackinghealthApp.stock.home.createOrEditLabel">Create or edit a Stock</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="stock.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="hackinghealthApp.stock.batchNumber" for="field_batchNumber">BatchNumber</label>
            <input type="text" class="form-control" name="batchNumber" id="field_batchNumber"
                    ng-model="stock.batchNumber"
                    required />
            <div ng-show="editForm.batchNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.batchNumber.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="hackinghealthApp.stock.numberOfPills" for="field_numberOfPills">NumberOfPills</label>
            <input type="number" class="form-control" name="numberOfPills" id="field_numberOfPills"
                    ng-model="stock.numberOfPills"
                    required />
            <div ng-show="editForm.numberOfPills.$invalid">
                <p class="help-block"
                    ng-show="editForm.numberOfPills.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberOfPills.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="hackinghealthApp.stock.expirationDate" for="field_expirationDate">ExpirationDate</label>
                <div class="input-group">
                    <input id="field_expirationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="stock.expirationDate" is-open="datePickerForExpirationDate.status.opened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForExpirationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.expirationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.expirationDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="hackinghealthApp.stock.medicine" for="field_medicine">medicine</label>
            <select class="form-control" id="field_medicine" name="medicine" ng-model="stock.medicineId" ng-options="medicine.id as medicine.id for medicine in medicines">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
